.container {

    background-image: url("../../assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 80vh;
    justify-content: flex-end;

    .caixa {

        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 50%;

        h2 {
            color: #205691;
            margin: 15px 0 10px 0;
        }

        p {
            margin: 20px 0 20px 0;
        }
    }
}
