.container {

    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: space-evenly;

    .caixa h1,
    p {
        
        width: 45vw;
    }

    .global {
        
        width: 40vw;
    }
}

.caixa h1 {
    
    color: #205691;
    font-size: 50px;
}

.caixa p {

    color: #205691;
    font-size: 16px;
    margin: 20px 0 0 0;
}
