.navegacao {

    align-items: center;
    background-color: #205691;
    display: flex;
    height: 10vh;
    justify-content: space-around;

    .logo {

        height: 5vh;
        width: 5vw;
    }

    .perfil {

        border-radius: 50%;
        width: 5vw;
    }
}

ul {

    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 50%;

    .link {

        color: #FFFFFF;
        text-decoration: none;

        &:hover {

            text-decoration: underline;
        }
    }
}
