.rodape {

    align-items: center;
    background-color: #205691;
    display: flex;
    height: 10vh;
    justify-content: space-around;

    .logo {
        
        height: 5vh;
        width: 5vw;
    }

    p {

        color: #FFFFFF;
        font-size: 15px;
    }
    
    .social {
        
        margin: 0 5px 0 0;
        width: 3vw;
    }
}
